/*------------------------------------------------------------------
[Table of contents]

Colors
Media Queries
Elements
Mixins
Fonts and Headers
Global Elements
Top Right Navbar (time/account/ask)
Main Navbar
Navigation Drop Downs
Fancy Splash Image (Jumbotron)
Off Canvas (Sidebar Mobile Toggle)
Left Sidebar
Footer
-------------------------------------------------------------------*/
/*
 * Media Queries
 * --------------------------------------------------
 *
 * Use as: @include respond-to(small) { ... }
 *    @include respond-to(medium) { ... }
 *    @include respond-to(large) { ... }
 */
/*
 * Elements
 * --------------------------------------------------
 */
/*
 * Mixins
 * --------------------------------------------------
 */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */ }

/* Sticky Footer, a part 1: Wrapper for page content to push down footer */
#body-wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -10px; }
  @media (min-width: 62em) {
    #body-wrap {
      margin: 0 auto -200px; } }

/*
 * Global Elements
 * --------------------------------------------------
 */
body {
  margin-bottom: 0;
  font-family: 'ProximaNova-Regular', "Arial", sans-serif; }
  body .font-secondary {
    font-family: Garamond, Baskerville, 'Baskerville Old Face', "Times New Roman", serif; }

html, body {
  overflow-x: hidden;
  /* Off Canvas: Prevent scroll on narrow devices */ }

.valid {
  color: #089e00; }

.error {
  color: red; }

.warning {
  color: #fff664; }

.information {
  color: #000db5; }

/* Links */
a {
  color: #2a6496;
  text-decoration: none;
  outline: 0; }
  a:hover {
    color: #8A8B79; }
  a:focus {
    color: #5B8FA8; }
  a.social {
    color: #767676; }

/*
 * Fonts and Headers
 * --------------------------------------------------
 */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://motacilla.lib.uchicago.edu/static/base/css/iconfont/MaterialIcons-Regular.ttf) format("truetype"); }

.material-icons {
  font-size: 1.2em;
  line-height: 1.2em;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga'; }

h1, h2 {
  font-family: 'ProximaNova-Regular'; }

h3 {
  font-family: 'ProximaNova-Regular';
  font-size: 1.3em;
  margin-bottom: 3px;
  margin-top: 10px; }

h4 {
  font-family: 'ProximaNova-Semibold'; }

h5 {
  font-family: 'ProximaNova-Bold'; }

/*
 * Top Right Navbar (time/account/ask)
 * --------------------------------------------------
 */
.mobile-topnav {
  text-align: center;
  border-bottom: 1px solid #767676;
  background-color: rgba(67, 67, 67, 0.7);
  padding: 5px 0; }
  .mobile-topnav a {
    color: #fff;
    padding: 0 1em; }

#navbar-right {
  font-size: 1em;
  padding-right: 1.5em; }
  #navbar-right > li > a {
    color: #f9f9f9; }
    #navbar-right > li > a:hover {
      color: #E4E4E4;
      background-color: rgba(67, 67, 67, 0.95); }
    #navbar-right > li > a:focus {
      background-color: rgba(67, 67, 67, 0.95); }
  #navbar-right > li > .dropdown-menu {
    color: #fff;
    text-align: right;
    background-color: rgba(67, 67, 67, 0.95); }
  @media (min-width: 118em) {
    #navbar-right {
      padding-right: 15em;
      margin-right: 30px; } }

ul#navbar-right li:hover > ul.dropdown-menu.menuhover {
  display: block; }

i.ask-icon {
  color: #767676;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; }
  i.ask-icon.active {
    color: #eee;
    text-shadow: none;
    -webkit-text-stroke-width: 0; }

/*
 * Main Navbar
 * --------------------------------------------------
 */
@media (min-width: 48em) {
  .fluid-top {
    padding: 0px; } }

.navbar-brand {
  max-width: 125px;
  padding: 5px 15px 15px 15px; }
  @media (min-width: 48em) {
    .navbar-brand {
      max-width: 175px;
      padding-left: 35px;
      padding-top: 5px; } }
  @media (min-width: 62em) {
    .navbar-brand {
      padding-top: 10px; } }

.lglive.navbar-default {
  border: 0px;
  margin-bottom: 0px;
  background-image: url("nav-background.jpg");
  background-repeat: repeat;
  z-index: 10;
  border-radius: 0; }
  .lglive.navbar-default .navbar-nav {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }
    .lglive.navbar-default .navbar-nav > li > a {
      color: #eee; }
      .lglive.navbar-default .navbar-nav > li > a:hover {
        color: #fff;
        background-color: rgba(67, 67, 67, 0.95); }
      .lglive.navbar-default .navbar-nav > li > a:focus {
        color: #fff; }
    .lglive.navbar-default .navbar-nav .open .dropdown-menu {
      background-color: rgba(67, 67, 67, 0.95); }
    .lglive.navbar-default .navbar-nav > .open > a:focus {
      background-color: #800000;
      color: #fff; }
    .lglive.navbar-default .navbar-nav > .open > a, .lglive.navbar-default .navbar-nav > .open > a:hover {
      color: #E4E4E4;
      background-color: rgba(67, 67, 67, 0.95); }
  .lglive.navbar-default .divider {
    background-color: #767676; }

#global-navbar {
  background-color: rgba(67, 67, 67, 0.4);
  font-size: 1.1em;
  padding-left: 0.5em; }
  #global-navbar.navbar-nav > li > a:focus {
    color: #fff; }
  #global-navbar.navbar-nav > .open > a:focus {
    background-color: #800000; }
  @media (min-width: 48em) {
    #global-navbar {
      box-shadow: 0 1px 7px #462b28;
      margin-top: 70px; }
      #global-navbar .navbar-nav > li > a {
        padding-top: 7px;
        padding-bottom: 7px; } }

/*
 * Navigation Drop Downs
 * --------------------------------------------------
 */
#navbar-right .dropdown-menu {
  border: none; }
  #navbar-right .dropdown-menu > li > a {
    color: #fff;
    font-size: 1.05em;
    margin-bottom: 5px; }
    #navbar-right .dropdown-menu > li > a:hover {
      color: #D49464;
      text-decoration: none;
      background-color: transparent; }

@media (min-width: 75em) {
  .dropdown-menu-right {
    right: auto;
    left: 0; } }

.twocol-head {
  color: #e7d5d3;
  font-size: .8em;
  line-height: 2.4em;
  text-transform: uppercase; }

.twocol-drop {
  background-color: rgba(67, 67, 67, 0.95); }
  @media (min-width: 48em) {
    .twocol-drop {
      min-width: 500px;
      padding: 10px 0 10px 0; } }
  .twocol-drop > li > ul > li {
    margin-bottom: 10px; }
    .twocol-drop > li > ul > li a {
      color: #fff;
      font-size: 1.1em;
      text-decoration: none; }
      .twocol-drop > li > ul > li a:hover {
        color: #D49464; }

.ul-left {
  padding-bottom: 1.5em; }
  @media (min-width: 62em) {
    .ul-left {
      padding-bottom: 0px;
      border-right: 1px solid #767676; } }

/* >> Start Global Custom Header */
#topwrapper {
  background: #efefef url(http://www.lib.uchicago.edu/e/index_images/index_bookbgonly.png) no-repeat scroll 60% 45px;
  border-top: 3px solid maroon;
  border-bottom: 1px solid #e2e2e2; }

#banner {
  width: 250px;
  padding: 15px 0 10px 10px; }

/* Mobile Toggle Nav */
#bs-example-navbar-collapse-1 a {
  color: maroon;
  text-decoration: none;
  font-weight: bold; }

#bs-example-navbar-collapse-1 a:hover {
  text-decoration: underline; }

.dropmenudiv a:hover {
  background-color: #ddd; }

/* Top Nav Styling */
.globallinks {
  background: #efefef;
  border-top: 1px solid #BBBBBB; }

.toplinks ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.toplinks ul li {
  display: inline;
  margin-left: 25px; }

.toplinks ul li a {
  font-size: 12px;
  color: maroon; }

/* << End Global Custom Header */
/*
 * Footer
 * --------------------------------------------------
 */
/* Sticky Footer, a part 2 */
/*
 * Global
 * --------------------------------------------------
 */
#s-lg-public-skiplink {
  top: -50px; }

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto; }

body {
  background-color: #ffffff;
  padding-left: 0px;
  padding-right: 0px;
  line-height: 1.6em; }

#s-lg-tabs-container {
  padding-left: 5px;
  padding-right: 5px; }

.glyphicon-home {
  top: 20px;
  left: 10px; }

.largetext {
  color: black; }

/* Add focus to main content */
#tabindex {
  outline: 0; }

/*
 * Global Buttons
 * --------------------------------------------------
 */
.btn-info {
  color: maroon;
  background-color: #ccc;
  border-color: #a3a3a3; }

.btn-info.active, .btn-info.focus, .btn-info:active, .btn-info:focus, .btn-info:hover, .open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #767676;
  border-color: #a3a3a3; }

.pagination > .active > a {
  color: maroon;
  background-color: #ccc;
  border-color: #a3a3a3; }

.pagination > .active > a:hover, .pagination > li > a:hover {
  color: #fff;
  background-color: #767676;
  border-color: #a3a3a3; }

.pagination > li > a {
  color: #767676;
  background-color: #fff;
  border-color: #a3a3a3; }

/* Drop Down Widgets */
.form-inline .form-control {
  width: 80%; }
  @media (min-width: 48em) {
    .form-inline .form-control {
      width: 80%; } }

/*
 * Breadcrumbs
 * --------------------------------------------------
 */
.breadcrumbs, .breadcrumbsr, .s-lib-bc, .breadcrumbs a, .breadcrumbsr a, .s-lib-bc a {
  color: #777777;
  font-family: 'ProximaNova-Regular',Arial,sans-serif;
  font-size: 0.8em;
  letter-spacing: 2px; }

#s-lib-bc a {
  color: #767676; }

.breadcrumb > li + li:before {
  content: ">\00a0"; }

/*
 * Search Box
 * --------------------------------------------------
 */
@media (min-width: 48em) {
  #s-lg-guide-search-box {
    width: 100%;
    margin-left: 15px;
    margin-bottom: 5px; } }

#s-lg-guide-search-box .btn-default {
  color: maroon;
  background-color: #ccc;
  border-color: #a3a3a3; }

.form-control {
  border: 1px solid #a3a3a3; }

/* From SpringShare: to display full search field */
@media (min-width: 48em) {
  #bs-example-navbar-collapse-1 {
    margin-left: 0px; } }

@media (min-width: 48em) {
  #s-lg-sb-nav-1 {
    width: 100%;
    display: block;
    border: none; } }

@media (min-width: 48em) {
  #s-lg-az-nav-1 {
    display: block;
    border: none; } }

@media (min-width: 48em) {
  #s-lg-srch-form {
    border: none; } }

/*
 * Home Page Customization
 * --------------------------------------------------
 */
#s-lg-tabs-container .nav-tabs a:hover {
  outline: none;
  color: #fff;
  background-color: #767676; }

#s-lg-tabs-container .nav-tabs > .active > a {
  color: #767676;
  background-color: #fff;
  border-bottom: 4px solid;
  border-bottom-color: #767676; }
  #s-lg-tabs-container .nav-tabs > .active > a:hover {
    border: 0px;
    border-bottom: 4px solid;
    border-bottom-color: #ccc; }

#s-lg-tabs-container .nav-tabs > li > a {
  border-bottom: 4px solid maroon;
  background-color: #fff;
  color: #800000; }
  #s-lg-tabs-container .nav-tabs > li > a:hover {
    border: 0px;
    border-bottom: 4px solid;
    border-bottom-color: #ccc; }

#s-lg-guide-tabs-title-bar {
  border-top: 0px; }

#noteheader {
  margin: 0px;
  padding: 0px;
  line-height: 10px; }

.homeheader {
  font-weight: 900;
  font-size: 1.2em;
  color: #000;
  padding: 0px; }

.homelinks {
  margin: 0 0 12px;
  line-height: .6em; }
  .homelinks a {
    display: block;
    margin-left: 2em;
    text-indent: -2em;
    line-height: 1.25em; }

#notecontainer ul {
  margin-left: 7px;
  padding: 0; }
  #notecontainer ul li {
    margin: 5px 0; }

.s-lg-label-more {
  line-height: 1em;
  color: #5B8FA8;
  padding-bottom: .2em; }

/* 
 * Profile Landing Page
 * --------------------------------------------------
 */
#s-lg-profile-nav, #s-lg-srch-nav {
  background: #fff; }

#s-lg-profile-nav .nav-pills > .active > a {
  color: #767676;
  background-color: #fff;
  border-bottom: 4px solid;
  border-bottom-color: #767676; }
  #s-lg-profile-nav .nav-pills > .active > a:hover {
    border: 0px;
    border-bottom: 4px solid;
    border-bottom-color: #ccc; }

#s-lg-profile-nav .nav-pills > li > a {
  border-left: 0px;
  border-bottom: 4px solid maroon;
  background-color: #fff;
  color: #800000;
  border-radius: 0px; }
  #s-lg-profile-nav .nav-pills > li > a:hover {
    outline: none;
    color: #fff;
    background-color: #767676; }

.s-lib-featured-profile-container {
  vertical-align: bottom; }

.bottom {
  position: absolute;
  bottom: 0;
  margin-right: 0; }

/*
 * A-Z List
 * --------------------------------------------------
 */
#s-lg-az-results #s-lg-db-name-featured, .s-lg-db-name-featured {
  background-color: #d5d7bd;
  background-image: linear-gradient(to right, #dfe1cd, #d5d7bd);
  padding: 15px;
  margin-bottom: 2.5em;
  border-bottom: none;
  box-shadow: 10px 10px #eee; }

.s-lib-public-side-header {
  font: 700 1.3em Arial,Geneva,Helvetica,sans-serif;
  border-bottom: 2px solid maroon;
  color: maroon; }

/*Page Header*/
#s-lib-public-header-title {
  font-size: 1.8em;
  color: maroon; }

#s-lib-public-main, #s-lib-public-header {
  padding-right: 15px;
  padding-left: 15px; }

/*
 * Guides Listing
 * --------------------------------------------------
 */
#s-lg-guide-desc-container {
  font-family: Arial, sans-serif; }

.s-lg-rss-list {
  list-style: none; }

.s-lg-rss-list-item {
  padding: 10px 0; }
  .s-lg-rss-list-item > .s-lg-title > a {
    font-size: 1em;
    color: #9A5324;
    font-weight: 600; }
  .s-lg-rss-list-item > .s-lg-title .resdesc {
    padding-top: 5px; }
    .s-lg-rss-list-item > .s-lg-title .resdesc a > img {
      vertical-align: inherit;
      width: 100%;
      height: auto; }

/* Subject number listing in Guides listed under "more" */
#s-lg-db-label {
  font-size: 1em;
  top: 40px;
  left: 10px; }

/* Hides "X Studies Experts" for Guides listed under "more" */
#s-lg-sb-experts-div {
  visibility: hidden; }

/* Hides "Viewed X Times" for Guide Listings */
.s-lg-guide-info-views {
  visibility: hidden; }

/*
 * Guides
 * --------------------------------------------------
 */
#s-lg-guide-search-box {
  width: 90%; }

/*Guide Header*/
#s-lg-guide-name {
  font-size: 1.8em;
  color: maroon; }

#s-lg-guide-header-info h1 {
  margin-bottom: 0px;
  font-size: 1.5em; }

/*Guide Subheader*/
#s-lg-guide-desc-container {
  padding-top: 0;
  padding-bottom: 7px;
  font-size: 1.05em; }

/*Box Headers*/
.s-lib-box .s-lib-box-title {
  font-size: 1.3em;
  background-color: #ffffff;
  border-bottom: 2px solid #800000;
  color: #800000;
  padding-bottom: 2px; }

.label-info[href]:focus, .label-info[href]:hover {
  color: #447bab;
  background-color: #fff; }

/* Profile Box */
.s-lib-profile-image img {
  max-height: 175px;
  width: auto;
  background-color: #FFF;
  border: none;
  box-shadow: none; }

.s-lib-profile-div {
  margin-bottom: 7px; }

/* Adds space between chat window and contact info */
div[id^="s-lib-profile-contact"]:after {
  content: '\A';
  white-space: pre; }

/* Rearranges "Ask A Librarian" and "Contact" elemnts in Profile Box */
#s-lib-profile-container {
  display: table; }

.s-lib-profile-widget-other {
  display: table-footer-group; }

/* Will be displayed at the bottom of the pseudo-table */
.s-lib-profile-contact {
  display: table-header-group; }

/* Profile Email Link/Button */
.s-lib-profile-email .label:before {
  content: "\f003";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  padding-right: 5px; }

/* LibCal Schedule Button */
/* Values marked !important to override any author personalization within the widget itself */
button[id^="mySched"] {
  background: #8A9045 !important;
  border: 0px !important;
  color: #fff !important;
  padding: 0.5em !important; }
  button[id^="mySched"]:before {
    content: "\f017";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    padding-right: 5px; }

.label {
  font-weight: 500;
  line-height: 1em;
  color: #fff;
  background-color: #616530;
  padding: 0.5em; }

.label-info[style] {
  font-size: 1em !important;
  /*overrides inline style created by Springshare*/ }

/*
 * Guides Side Navigation
 * --------------------------------------------------
 */
#s-lg-tabs-container .nav-pills span {
  margin-left: 10px; }

#s-lg-tabs-container .nav-pills > .active::after {
  /* Triangle on Active */
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  left: 0.1em;
  width: 0;
  height: 0;
  border-color: transparent transparent transparent #ccc;
  border-style: solid;
  border-width: 15px; }

#s-lg-tabs-container .nav-pills > .active > a {
  color: #fff;
  cursor: default;
  background-color: #767676;
  border: 0px;
  border-left: 3px solid #ccc;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-bottom-color: transparent;
  font-weight: bold; }
  #s-lg-tabs-container .nav-pills > .active > a:hover {
    border: 0px;
    border-left: 3px solid #ccc; }

#s-lg-tabs-container .nav-pills > li > a {
  border: 0px;
  border-left: 3px solid maroon;
  background-color: #f9f9f9;
  color: maroon; }
  #s-lg-tabs-container .nav-pills > li > a:hover {
    outline: none;
    border: 0px;
    border-left: 0px solid #fff;
    background-color: #767676;
    color: #ffffff; }

/* Sub Navigation */
.list-group-item {
  border: 0px;
  border-left: 3px solid #ccc;
  font-size: 1em;
  line-height: normal; }
  .list-group-item a {
    color: #525252;
    text-decoration: none;
    font-weight: 500; }
    .list-group-item a:hover {
      text-decoration: underline; }
  .list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px; }
  .list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px; }

#s-lg-guide-tabs .s-lg-tabs-side .s-lg-boxnav .list-group-item {
  background-color: #fff; }

/*
 * Footer
 * --------------------------------------------------
 */
#s-lib-footer-brand, #s-lib-footer-rights {
  display: none; }

#s-lib-footer-public {
  background-color: #ffffff;
  border: 0px; }
