/*
 * Global
 * --------------------------------------------------
 *
 */

$main-font: 'Muli', sans-serif;
$content-width: 1000px;
$nav-height: 70px;

/*
 * Colors
 * --------------------------------------------------
 *
 */

$nav-background: #6b1722;
$nav-font-color: #ffffff;
$link-hover-color: #2581DC;
